databases:
  - name: bittycity-db
    plan: free
    region: oregon
    postgresMajorVersion: 16

services:
  - type: web
    name: bittycity-api
    runtime: python
    region: oregon
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: uvicorn main:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: bittycity-db
          property: connectionString
      - key: PYTHON_VERSION
        value: "3.11.3"
